@model LoginViewModel
@{
    ViewBag.Title = "Kullanıcı Giriş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<form asp-action="Login" asp-controller="Account" method="post" class="mt-4 w-25 mx-auto p-3 shadow">
    <div><p class="text-center">Kullanıcı Giriş</p></div>
    <div class="form-group">
        <input asp-for="Email" class="form-control" type="text" placeholder="Email" />
    </div>

    <div class="form-group">
        <input asp-for="Password" class="form-control" type="password" placeholder="Şifre" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-block">Giriş Yap</button>
    </div>
</form>
